.btn.btn-outline-primary {
  border-color: #003a66 !important;
  color: #003a66;
}
.navbar-collapse {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0;
}

.navbar-collapse.show {
  max-height: 500px; /* Adjust based on your content */
  opacity: 1;
}
.nav-bar {
  top: 0;
  position: sticky;
  z-index: 1000;
}
.navbar {
  padding-bottom: 0.55rem !important;
}
