<div class="search-container">
  @if (imageUrls[activeImgIndex]) {
  <img
    [src]="imageUrls[activeImgIndex]"
    [@fadeAnimation]
    class="search-background"
    alt=""
  />
  }
  <div class="search">
    <h1 class="text-white text-capitalize">
      {{ activeText[activeImgIndex] | uppercase }}
    </h1>
    <p class="text-white w-10">{{ subTexts[activeImgIndex] }}</p>
    <div class="search-bar">
      <i class="material-icons text-secondary">location_on</i>
      <input
        type="text"
        class="search-input"
        placeholder="Search for trips, destinations, or activities..."
      />
      <i class="material-icons text-secondary">search</i>
    </div>
    <a
      class="btn btn-primary border-secondary rounded-pill text-white py-3 px-5"
      href="upcomingtrips"
      >More Details</a
    >
  </div>
  <div class="search-results">
    <!-- Search results will be displayed here -->
  </div>
</div>
<div class="container">
  <div class="text-center mt-5 pb-3">
    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px">
      Package
    </h6>
    <h1 class="mb-4 text-secondary">Popular Packages</h1>
  </div>
  <div class="row g-4">
    @for(city of cities; track city._cityId ; let idx = $index){ @if(
    city.tourCount ){

    <div
      [class.col-12]="idx == 0"
      class="col-sm-12 {{ idx != 0 ? 'col-md' : '' }}"
    >
      <div class="city-card-wrapper">
        <img
          [@fadeAnimation]
          [@zoomAnimation]
          [@slideInAnimation]
          [src]="getImageUrl(city.cityName)"
          [alt]="city.cityName + ' Tours'"
          class="city-image"
        />

        <div class="city-overlay">
          <h3 class="city-title">{{ city.cityName }}</h3>
          <span class="bg-warning text-dark fw-bold px-3 py-2 city-tours"
            >{{ city.tourCount }} Tours</span
          >
          <button class="btn btn-primary mt-5" (click)="getLink(city.cityName)">
            Explore Now
          </button>
        </div>
      </div>
    </div>

    } } @empty {
    <li>There are no items.</li>
    }
  </div>
</div>
