.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.text-capitalize {
  font-size: calc(1.625rem + 4.5vw);
  font-weight: 700;
  line-height: 1;
  width: 80%;
}
.package-card {
  transition: all 0.3s;
  img {
    transform: 0.5s ease;
  }
}
.package-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2) img {
    transform: scale(1.05);
  }
}

.fade-in {
  opacity: 1;
}
.search-bar {
  border: 1px solid #ccc;
  width: 80%;
  max-width: 600px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 8px;
  background-color: white;
  &:focus-within {
    border-color: white;
  }
}
.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
}
input:focus {
  outline: none;
}

.search-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 35px;
}
.city-card-wrapper {
  position: relative;
  height: 350px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .city-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    display: block;
  }

  &:hover .city-image {
    transform: scale(1.05);
  }

  .city-overlay {
    position: absolute;
    inset: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    transition: background 1s ease;
    gap: 1rem;
    &:hover {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
      .btn {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        border: 0px;
      }

      .city-overlay {
        background: rgba(0, 0, 0, 0.5);
      }
    }
    .btn {
      position: absolute; // ensures no space taken when hidden
      bottom: 3rem;
      cursor: grab;
      transform: translate(0%, 100%); // slide down by default
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.3s ease;
      z-index: 50;
    }
    .city-title {
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .city-tours {
      background-color: #ffc107;
      color: #212529;
      font-weight: 600;
      padding: 0.4rem 1rem;
      border-radius: 3px;
      margin-bottom: 1rem;
      display: inline-block;
    }
  }
}
