<div class="search-container">
  @if (imageUrls[activeImgIndex]) {
  <img
    [src]="imageUrls[activeImgIndex]"
    [@fadeAnimation]
    class="search-background"
    alt=""
  />
  }
  <div class="search">
    <h1 class="text-white text-capitalize mb-3">
      {{ activeText[activeImgIndex] | uppercase }}
    </h1>
    <p class="text-white w-100 px-3 mb-3">{{ subTexts[activeImgIndex] }}</p>
    <div class="search-bar">
      <i class="material-icons text-secondary">location_on</i>
      <input
        type="text"
        class="search-input"
        placeholder="Search for trips, destinations, or activities..."
      />
      <i class="material-icons text-secondary">search</i>
    </div>
  </div>
  <div class="search-results">
    <!-- Search results will be displayed here -->
  </div>
</div>
<div class="container">
  <div class="text-center mt-5 pb-3">
    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px">
      Package
    </h6>
    <h1 class="mb-4 text-secondary">Popular Packages</h1>
  </div>
  <div
    class="position-relative overflow-hidden rounded package-card"
    style="height: 350px"
  >
    <img
      src="	https://www.yournexttrip.in/img/Varanashi.png"
      [@fadeAnimation]
      [@zoomAnimation]
      [@slideInAnimation]
      class="img-fluid w-100 h-100"
      style="object-fit: cover; transition: transform 0.5s ease"
      alt="Varanasi Tours"
    />
    <div
      class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center align-items-center text-white text-center package-overlay"
      style="
        background: rgba(0, 0, 0, 0.3);
        transition: 0.3s;
        --darkreader-inline-bgimage: initial;
        --darkreader-inline-bgcolor: var(
          --darkreader-background-0000004d,
          rgba(0, 0, 0, 0.3)
        );
      "
      data-darkreader-inline-bgimage=""
      data-darkreader-inline-bgcolor=""
    >
      <h3 class="mb-3 text-white fw-bold">Varanasi</h3>
      <span
        class="bg-warning text-dark fw-bold px-3 py-2 mb-3"
        style="border-radius: 3px"
        >17 TOURS</span
      >
      <a
        href="upcomingtrips.html?destination=varanasi"
        class="btn btn-primary px-4 py-2 mt-2"
        style="
          transform: translateY(20px);
          opacity: 0;
          transition: all 0.3s ease;
        "
        >Explore Tours</a
      >
    </div>
  </div>

  <mat-tab-group>
    <mat-tab label=" Varanasi"> Varanasi </mat-tab>
    <mat-tab label="Ayodhya"> Ayodhya </mat-tab>
    <mat-tab label="Prayagraj"> </mat-tab>
  </mat-tab-group>
</div>
